* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Inter';
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('./../font/Inter.ttc');
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../img/render2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    text-align: center;
}

form {
    background-color: #fafafa;
    width: 700px;
    height: 100%;
    padding: 20rem 5rem;
    position: absolute;
    left: 0;
    opacity: 90%;
}

div img {
    position: absolute;
    top: 45px;
    left: 100px;
}

form div {
    margin-bottom: 2rem;
}

label,
input {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    margin-top: 1rem
}

.radio-btn {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}

.radio-btn label {
    display: inline;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="ref"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid #4682B4;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid #4682B4;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}